
@mixin prefix($property, $value...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

* { 
    margin: 0;
    padding: 0;
    cursor: default;
}

body, html { 
    height: 100%;
}

body { 
    @include prefix(user-select, none);
    font-family: 'Cardo', serif;
    color: #333;
}

#readout { 
    display: none;
    position: fixed;
    font: normal 10px 'Monaco', monospace;
    width: 280px;
}

canvas { 
    position: fixed;
    width: 100%;
    height: 100%;
}


#essay {

    @include prefix(box-sizing, border-box);
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 5;

    .inner { 
    
        @include prefix(box-sizing, border-box);

        background: rgba(247,183,45,0.9);
        border-radius: 10000px;
        padding: 120px;
        width: 550px;
        height: 550px;
    }

    h1 { 
        margin-bottom: 20px;
        font-style: italic;
        letter-spacing: -0.05em;
    }

    h2 { 
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-weight: bold;
        font-size: 0.7em;
    }

    p {
        margin-bottom: 20px;
        font-size: 0.9em;
    }

    pre { 
        font: normal 12px 'Monaco', monospace;
        .strength, .damping, .mass { 
            // color: rgb(0, 176, 209);
        }
    }

}


.cssgradients #essay .inner {
    background: none;
    background-image: linear-gradient(right bottom, rgba(96, 197, 177, 0.9) 21%, rgba(247,183,45,0.9) 73%);
    background-image: -o-linear-gradient(right bottom, rgba(96, 197, 177, 0.9) 21%, rgba(247,183,45,0.9) 73%);
    background-image: -moz-linear-gradient(right bottom, rgba(96, 197, 177, 0.9) 21%, rgba(247,183,45,0.9) 73%);
    background-image: -webkit-linear-gradient(right bottom, rgba(96, 197, 177, 0.9) 21%, rgba(247,183,45,0.9) 73%);
    background-image: -ms-linear-gradient(right bottom, rgba(96, 197, 177, 0.9) 21%, rgba(247,183,45,0.9) 73%);
    background-image: -webkit-gradient(
        linear,
        right bottom,
        left top,
        color-stop(0.21, rgba(96, 197, 177, 0.9)),
        color-stop(0.73, rgba(247,183,45,0.9))
    );
}