* {
  margin: 0;
  padding: 0; }

body {
  overflow: hidden;
  font-family: 'Cardo', serif;
  letter-spacing: -0.07em;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

#readout {
  display: none;
  position: fixed;
  font: normal 10px 'Monaco', monospace;
  width: 300px; }

#canvas {
  position: fixed; }

#essay {
  position: fixed;
  z-index: 5;
  width: 400px;
  text-align: center;
  padding: 20px; }
  #essay h1 {
    margin-bottom: 20px;
    font-style: italic; }
  #essay h2 {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: bold;
    font-size: 0.7em; }
