
@mixin prefix($property, $value...) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

* { 
    margin: 0;
    padding: 0;
}

body { 
    overflow: hidden;
    font-family: 'Cardo', serif;
    letter-spacing: -0.07em;
    // text-shadow: 0 1px 0 #ddd;
    color: #333;
    @include prefix(user-select, none);

}

#readout { 
    display: none;
    position: fixed;
    font: normal 10px 'Monaco', monospace;
    width: 300px;
}

#canvas { 
    position: fixed;
}

#essay {
    
    position: fixed;
    z-index: 5;
    // border: 1px solid;

    width: 400px;
    text-align: center;
    padding: 20px;

    h1 { 
        margin-bottom: 20px;
        font-style: italic;
    }
    h2 { 
        text-transform: uppercase;
        letter-spacing: 0.5em;
        font-weight: bold;
        font-size: 0.7em;
    }

}